/*---- Reset inherit stylings ----*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*---- Overall website styles ----*/
html {
    position: relative;
    height: 100%;
}
body {
    background: #2E2D30;
    color: #B2DDEC;
    font-family: "Lucida Sans Typewriter", monospace;
}

section {
    float: left;
    display: inline-block;
    overflow: hidden;
}

section.rightpanel {
    position: fixed;
    width: 300px;
    height: 100%;
    margin-left: -300px;
    z-index: 1;
    overflow: hidden;
}
section.sidebar-wrapper {
    width: 300px;
    height: 100%;
    background-color: rgba(178, 221, 236, 0.7);
}

.sidebar {
    display: inline;
}
.sidebar ul {
    list-style-type: none;
}
.sidebar a {
    color: #535057;
    text-decoration: none;
}

.internal {
    margin-top: 55%;
    text-align: center;
}
.internal li {
    margin: 5% auto;
}
.internal a {
    font-size: 20px;
}

.external {
    position: absolute;
    bottom: 5%;
    width: 100%;
    float: left;
    text-align: center;
}
.external li {
    display: inline;
    margin: 0 auto;
}
.external a {
    margin: 5%;
}
.external i {
    font-size: 35px;
    padding: 1% 1% 0 1%;
}
