/* FAB holder */
#fab {
    position: fixed;
    height: 100px;
    width: 100px;
    top: 75px;
    right: 5%;
    background-color: #F3867B;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Menu icon that darkens current viewing page */
#fab div {
    width: 55px;
    height: 5px;
    margin: 5px 0;
    background-color: #2E2D30;
    opacity: 0.5;
}
.fab-current-page {
    opacity: 1 !important;
}
