h1 {
    font-size: 100px;
    letter-spacing: 5px;
}

section.terminal {
    float: left;
    width: 300px;
    height: 200px;
}
.terminal-inner {
    width: 300px;
    margin: 1%;
}

section.center {
    float: left;
    width: 95%;
    text-align: center;
    margin-top: 10%;
}
