/* Setting default theme */
html {
    background-color: #2E2D30;
}

/* Homepage*/
#homepage-wrapper {
    height: 100vh;
    border: 1px solid red;
}
section#homepage h1 {
    font-size: 100px;
    color: #B2DDEC;
    text-align: center
}
#pic {
    width: 270px;
    height: 270px;
    background-color: white;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 5%;
}
