/* Setting default theme */
html {
    background-color: #2E2D30;
    color: #B2DDEC;
}
section {
    height: 100%;
    margin-bottom: 10%;
    padding-top: 5%;
}
section:last-child {
    margin-bottom: 0;
}
.content-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 5%;
}

/* Homepage*/
section#homepage {
    padding: 0;
    height: 100vh;
}
#homepage-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section#homepage h1 {
    font-size: 100px;
    margin-top: 100px;
}
#pic {
    width: 270px;
    height: 270px;
    background-color: white;
}

/* About section */
.about-section-div {
    min-height: 30%;
    border-bottom: 3px solid rgba(178, 221, 236, 0.8);
}
.about-section-div h1 {
    font-size: 78px;
    letter-spacing: 10px;
    text-align: center;
    margin: 30px auto;
    opacity: 0.54;
}
.about-section-div h3 {
    font-size: 36px;
    letter-spacing: 3px;
    text-align: center;
    margin: 30px auto;
}
.about-section-div p {
    font-size: 24px;
    text-align: justify;
    line-height: 40px;
    margin: 0 50px;
}

/* Introduction section */
#about-intro {
    display: flex;
    align-items: center;
}
#about-top-greeting h1 {
    font-size: 150px;
    letter-spacing: 10px;
    margin: 0 40px;
}

/* Skill bar section */
#skill-display-wrapper {
    display: flex;
    justify-content: space-around;
}
#experienced-with-skills h3 {
    opacity: 0.7;
}
#still-learning-skills h3 {
    opacity: 0.5;
}

/* Experience section */
.job-sub-section {
    width: 70%;
    padding: 30px;
    border-bottom: 2px solid rgba(178, 221, 236, 0.5);
}
.job-sub-section-title {
    height: 150px;
    width: 100%;
    margin: 2% auto;
}
.job-sub-section:last-child {
    margin-bottom: -5%;
    border-bottom: none;
}
#job-section-wrapper:after {
    content: " ";
    display: block;
    clear:both;
}
.job-sub-section-left {
    float: left;
}
.job-sub-section-right {
    float: right;
}

/* Dropdown footer */
#dropdown-footer-wrapper {
    height: 200px;
}
#dropdown-footer {
    height: 0;
    background-color: #B2DDEC;
    opacity: 0.8;
    color: #2E2D30;
}
#dropdown-footer h3 {
    display: none;
    font-size: 27px;
    padding: 20px 20px;
    opacity: 0;
}
#dropdown-footer div {
    display: none;
    justify-content: center;
    opacity: 0;
}
