/* Navigation bar, default hidden */
#navbar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    margin-top: -100px;
    background-color: #F3867B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
#navbar a {
    text-decoration: none;
}

/* Navigation page tabs */
#navbar-pages {
    display: flex;
    margin-left: 60px;
}
#navbar-pages li {
    margin: 0 30px;
    opacity: 0.7;
}
#navbar-pages h3 {
    font-size: 36px;
    color: #2E2D30;
}
#navbar-pages .navbar-pages-current {
    border-bottom: 2px solid #2E2D30;
    opacity: 0.87 !important;
}

/* Navigation page links */
#navbar-links {
    display: flex;
    margin: 0 60px;
}
#navbar-links li {
    margin: 0 20px;
}
#navbar-links i {
    font-size: 45px;
    color: #2E2D30;
    opacity: 0.7;
}

/* Navigation bar close button */
#navbar-close-button {
    margin: 0 50px 0 100px !important;
}
