<!DOCTYPE html>
<html>
    <!-- Head descriptor -->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />  <!-- Portability to mobile/tablet screen -->
        <title>Jason Lin - Software Designer</title>

        <!-- CSS style links -->
        <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/base.css">
        <link rel="stylesheet" href="css/portfolio_base.css">

        <!-- Javascript animation -->
        <script src="../js/jquery-3.1.1.min.js" type="text/javascript"></script>
        <script src="../js/base.js" type="text/javascript"></script>
    </head>
    <!-- End of head descriptor -->

    <body>
        <!-- Icon -->
        <a href="#" id="logo"></a>

        <section class="leftpanel">
            <div class="fullimg">
            </div>
            <div class="content">

            </div>
        </section>

        <section class="rightpanel" id="panel">
            <!--Sidebar -->
            <section class="sidebar-wrapper noJS" id="sidebarWrapper">
                <div class="sidebar" id="sidebar">
                    <!-- Internal links -->
                    <ul class="internal">
                        <li><a href="../index.html"> HOME </a></li>
                        <li><a href="../html/about.html"> ABOUT </a></li>
                        <li><a href="../html/resume.html"> RESUME </a></li>
                        <li class="current"><a href="../html/portfolio.html"> PORFOLIO </a></li>
                    </ul>

                    <!-- External links -->
                    <ul class="external">
                        <li><a href="http://linkedin.com/in/jason-lin-8548a4b8"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/jasonlin0815/jasonlin0815.github.io"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </section>
        </section>
    </body>
</html>
